@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
body {
    width: 100vw;
    height: 100vh;
  background-color: black;
  background-image: url(../sprits/startscreen/clans.jpg);
  
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#Game-Start {
    margin-top: 10%;
    display: none;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  position: absolute;

  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 10vw;
  margin-top: 5%;
  margin-bottom: 3%;
  filter: grayscale(10%);
  animation: float 2s infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.player-info {
    text-align: left;
   
   
}
#players {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: rgba(5, 5, 5, 0.8);
  padding: 0;

  width: 80vw;
  color: rgb(245, 245, 245);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10%;
  animation: float 2s infinite;
}
.button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-top: 5%;
}

.button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

#game-container {
  display: none;
  width: 100%;
}
#game-Screen {
  width: 100vw;
  height: 700px;
  background-image: url(../sprits/baclground/sprite-background_night.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: run 1s steps(6) infinite;

}
@keyframes run {
  100% {
    background-position: -8670px 0;
  }
}

.mirrored-sprite {
  transform: scaleX(-1);
}

.health-time {
  color: antiquewhite;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.parent {
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}
.health-player {
  background-color: yellow;
  height: 30px;
  width: 100%;
}
.player-health-motion {
  background-image: url(../sprits/portraits/ozomaki.png);
  background-size: auto 100%;

  position: absolute;
  background-color: rgb(57, 178, 234);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.portrait {
  height: 95px;
  width: 80px;
}
#timer {
  font-size: 30px;

  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(8, 8, 8, 0.5);
  border-radius: 5%;
  height: 60px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-health {
  background-color: rgb(50, 4, 4, 0.7);
  height: 30px;
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.enemy-health-motion {
  background-image: url(../sprits/portraits/akatsky.png);
  background-size: auto 100%;
  position: absolute;
  background-color: rgb(239, 152, 59);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.parent-health {
  position: relative;
  height: 30px;
  width: 100%;
}

#game-end {
  display: none;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 0;
  margin-top: 10%;
  width: 80vw;
  top: -10%;
  color: whitesmoke;
  position: absolute;

  justify-content: space-between;
  align-items: center;
  border-radius: 10%;
  animation: float 2s infinite;
  width: fit-content;
  background-color: rgb(6, 6, 6, 0.8);
  font-size: 30px;
  color: aliceblue;
}
.container {
  background-color: rgb(10, 10, 10, 0.5);
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  left: 50px;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: float 2s infinite;
}
.naruto-standing {
  width: 200px;
  height: 268px;
  background-image: url(../sprits/naruto/naruto-idle.png);
  background-repeat: no-repeat;
  animation: narutostanding 1s steps(6) infinite;
}
@keyframes narutostanding {
  100% {
    background-position: -1200px, 0;
  }
}
.attack {
  width: 50px;
  height: 52px;

  background-image: url(../sprits/naruto/attack.png);
  background-repeat: no-repeat;
  animation: attacks 1s steps(4) infinite;
}
@keyframes attacks {
  100% {
    background-position: -208px, 0;
  }
}
.naruto-damage {
  width: 200px;
  height: 268px;
  background-image: url(../sprits/naruto/naruto-damagee.png);
  background-repeat: no-repeat;
  animation: naruto-damage 2s steps(10) infinite;
}
@keyframes naruto-damage {
  100% {
    background-position: -1999px, 0;
  }
}
.naruto-hit {
  width: 250px;
  height: 268px;
  background-image: url(../sprits/naruto/naruto\ attack.png);
  background-repeat: no-repeat;
  animation: hit .5s steps(6) infinite;
}
@keyframes hit {
  100% {
    background-position: -1573px, 0;
  }
}
.naruto-running {
  width: 200px;
  height: 268px;
  background-image: url(../sprits/naruto/naruto-running.png);
  background-repeat: no-repeat;
  animation: narutostanding 1s steps(6) infinite;
}
@keyframes narutostanding {
  100% {
    background-position: -1200px, 0;
  }
}
.naruto-win {
  width: 195px;
  height: 268px;
  background-image: url(../sprits/naruto/naruto-win.png);
  background-repeat: no-repeat;
  animation: win 1s steps(3) infinite;
}
@keyframes win {
  100% {
    background-position: -586px, 0;
  }
}
.itachi-standing {
  width: 200px;
  height: 268px;
  background-image: url(../sprits/Pain/Pain-idle.png);
  animation: itachi 1s steps(5) infinite;
}
@keyframes itachi {
  100% {
    background-position: -1000px, 0;
  }
}
.pain-attack {
  background-image: url(../sprits/Pain/pain-attack.png);

  animation: painattack 1s steps(5) infinite;
}
@keyframes painattack {
  100% {
    background-position: -1000px, 0;
  }
}
.pain-running {
  background-image: url(../sprits/Pain/pain-running.png);

  animation: painrunning 1s steps(5) infinite;
}
@keyframes painrunning {
  100% {
    background-position: -1000px, 0;
  }
}
.pain-damage {
  background-image: url(../sprits/Pain/pain-damage.png);

  animation: pain-damage 1s steps(8) infinite;
}
@keyframes pain-damage {
  100% {
    background-position: -1600px, 0;
  }
}
.pain-dead {
  height: 268px;
  width: 195px;
  background-image: url(../sprits/Pain/dead.png);

  animation: dead 2s steps(5);
}
@keyframes dead {
  100% {
    background-position: -1005px, 0;
  }
}
.super-move-pain {
  height: 268px;
  width: 200px;
  background-image: url(../sprits/Pain/all\ mighty\ push.png);

  animation: push 9s steps(5) infinite;
}
@keyframes push {
  100% {
    background-position: -1000px, 0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease 10;
}
.blur {
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
}
.highlight {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
}
#entro-screen{
    margin-top: 15%;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(5, 5, 5, 0.8);
    
  
    width: 80vw;
    color: rgb(245, 245, 245);
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    animation: float 2s infinite;
}
.menu{
    justify-content: space-around;
    display: flex;
}
a{
    font-style: none;
    color: wheat;
    font-size: 30px;
    margin-bottom: 50px;
}
.restart-button{
    margin-bottom: 5%;
  }
  .start-button{
    color: white;
    font-size: 20px;
  }